:root {
    --input-border-color: #B4B7C9;
    --input-active-color:
}

[data-theme="dark"] {
    --input-border-color: #85878C;
}


.btn {
    display: flex;
    align-items: center;
    
    font-weight: bold;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    
    gap: 8px;
    height: 44px;
    padding: 11px 28px;

    &.round {
        border-radius: 6px;
    }

    &.small {
        padding: 9px 20px;
        height: 36px;
        &.round {
            border-radius: 4px;
        }
    }

    &.large {
        font-size: 16px;
        height: 52px;
        padding: 13px 32px;
        &.round {
            border-radius: 8px;
        }
    }

    &.primary {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        &:active {
            color: var(--primary-color);
        }
    }

    i {
        font-size: 18px;
    }

    &:active{
        background-color: transparent;
    }
}

input {
    appearance: none;

    width: 18px;
    height: 18px;

    margin: 3px;
    
    border: 2px solid var(--input-border-color);
    background-repeat: no-repeat;
    background-position: center center;

    transition: 0.1s background-color;

    &:checked {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
    }

    &:disabled {
        opacity: 0.6;
    }

    &[type="checkbox"] {
        border-radius: 2px;
        &:checked {
            background-image: url("/images/input/checkmark-checked.svg");
        }
    }

    &[type="radio"] {
        border-radius: 50%;
        &:checked {
            background-image: url("/images/input/radio-checked.svg");
        }
    }

    &[type="checkbox"].switch {
        border-radius: 50vw;
        height: 24px;
        width: 46px;
        margin: 1px;
        background-image: url("/images/input/toggle-shape.svg");
        
        transition: 0.1s background-position-x;

        &:not(:checked) {
            background-color: var(--input-border-color);
            background-position-x: left;
        }

        &:checked {
            background-position-x: right;
            box-shadow: 0px 8px 18px -8px #6366F1E6;
        }
    }
}