:root {
    --text-color: #565973;
    --text-header-color: #131022;
    --text-footer-color: #9397AD;

    --background-color: #FFFFFF;
    --background-muted-color: #F3F6FF;
    
    --primary-color: #6366F1;
    --secondary-color: #EFF2FC;
    --success-color: #22C55E;
    --error-color: #EF4444;
    --warning-color: #FFBA08;
    --info-color: #4C82F7;
}

[data-theme="dark"] {
    --text-color: #565973;
    --text-header-color: #ffffff;
    --text-footer-color: #FFFFFF;
    --background-color: #0B0F19;
    --background-muted-color: #151822
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;

    font: 14px "Manrope", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

header, footer, section
{
    @media screen and (min-width: 768px ) {
        padding: 0 calc(50vw - 361px);
    }
    
    @media screen and (min-width: 1400px) {
        padding: 0 calc(50vw - 657px);
    }
} 

.muted {
    background-color: var(--background-muted-color);
}

footer {
    height: 130px;
    color: var(--text-footer-color);

    font-size: 14px;
    line-height: 130px;
    text-align: center;
}


.btn {
    display: flex;
    align-items: center;
    
    font-weight: bold;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    
    gap: 8px;
    height: 44px;
    padding: 11px 28px;

    &.round {
        border-radius: 6px;
    }

    &.small {
        padding: 9px 20px;
        height: 36px;
        &.round {
            border-radius: 4px;
        }
    }

    &.large {
        font-size: 16px;
        height: 52px;
        padding: 13px 32px;
        &.round {
            border-radius: 8px;
        }
    }

    &.primary {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        &:active {
            color: var(--primary-color);
        }
    }

    i {
        font-size: 18px;
    }

    &:active{
        background-color: transparent;
    }
}